spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/${ORDERSERVICE_DB_SCHEMA}
    username: ${ORDERSERVICE_DB_USER}
    password: ${ORDERSERVICE_DB_PASS}

  jpa:
    show-sql: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${OAUTH_ISSUER_URI}

swagger-ui:
  authorization:
    issuer-uri: ${OAUTH_ISSUER_URI}

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 100
        permittedNumberOfCallsInHalfOpenState: 10
        slowCallDurationThreshold: 4s
        slowCallRateThreshold: 90
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        minimumNumberOfCalls: 10
    instances:
      UserService:
        baseConfig: default


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    circuitbreakers:
      enabled: true

logging:
  file:
    name: logs/app.log
  level:
    security: INFO
    web: INFO
    org.hibernate.SQL: WARN