spring:
  application:
    name: OrderService

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/master.yaml

server:
  port: 8082

logging:
  include-application-name: false
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN
